<kt-portlet>

	<kt-portlet-header [sticky]="true" [title]="'Current Driver List'" [class]="'kt-portlet__head--lg'">
		<ng-container ktPortletTools>
			<button (click)="applyCustomFilter()" mat-raised-button matTooltip="Apply Filter" color="primary" type="button">
				<span>More Filter</span>
			</button>
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form kt-margin-b-30">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-4 kt-margin-bottom-10-mobile">
						<mat-form-field>
							<input matInput placeholder="Search product" (keyup)="applyFilter($event.target.value)" placeholder="Search" class="mat-form-field mat-form-field-fluid">
							<mat-hint align="start">
								<strong>Search in all fields</strong>
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- end::FILTERS -->
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
		<div class="mat-table__wrapper">

            <mat-table mat-table [dataSource]="dataSource" class="mat-cell driverList" matSort>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.id}}</mat-cell>
                </ng-container>
            
                <!-- Username Column -->
                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.first_name+' '+driver.last_name}}</mat-cell>
                </ng-container>
            
                <!-- Mobile No Column -->
                <ng-container matColumnDef="mobile_no">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile No</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.mobile_no}}</mat-cell>
                </ng-container>
            
                <!-- Rides Column -->
                <ng-container matColumnDef="rides">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Rides</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.driver_rides_count}}</mat-cell>
                </ng-container>

                <!-- Cancelled Ride Column -->
                <ng-container matColumnDef="cancelled_ride">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cancelled Ride</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.driver_cancel_ride_count}}</mat-cell>
                </ng-container>

                <!-- Acceptance Ratio Column -->
                <ng-container matColumnDef="acceptance_ratio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Acceptance Ratio</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.acceptance_ratio}}</mat-cell>
                </ng-container>

                <!-- Rejected Ratio Column -->
                <ng-container matColumnDef="rejected_ratio">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Rejected Ratio</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.rejected_ratio}}</mat-cell>
                </ng-container>

                <!-- Last Week Online Hours Column -->
                <ng-container matColumnDef="last_week_online_hours">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Online Hours <br> (last week) Hours.Minites</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.online_hours_last_week}}</mat-cell>
                </ng-container>

                <!-- Current Week Online Hours Column -->
                <ng-container matColumnDef="current_week_online_hours">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Online Hours <br> (current week) Hours.Minites</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.online_hours_current_week}}</mat-cell>
                </ng-container>

                <!-- Total Online Hours Column -->
                <ng-container matColumnDef="total_online_hours">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total Online Hours Hours.Minites</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.total_online_hours}}</mat-cell>
                </ng-container>

                <!-- Total Reviews Column -->
                <ng-container matColumnDef="total_reviews">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Total Reviews</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.driver_total_review_count}}</mat-cell>
                </ng-container>

                <!-- Average Rating Column -->
                <ng-container matColumnDef="average_rating">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Average Rating</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.driver_avg_rating_count}}</mat-cell>
                </ng-container>

                <!-- Date Of Birth Column -->
                <ng-container matColumnDef="date_of_birth">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Birth</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.date_of_birth}}</mat-cell>
                </ng-container>

                <!-- Date Of Register Column -->
                <ng-container matColumnDef="date_of_register">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Register</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.created_date}}</mat-cell>
                </ng-container>

                <!-- Device Type Column -->
                <ng-container matColumnDef="device_type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Device Type</mat-header-cell>
                    <mat-cell *matCellDef="let driver">{{driver.device_type}}</mat-cell>
                </ng-container>

                <!-- Verify Column -->
                <ng-container matColumnDef="verify">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Verify <br>(0 = unapproved, 1 = approved)</mat-header-cell>
                    <mat-cell *matCellDef="let driver">
                        <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide" *ngIf="driver.verify == 0">Unapproved</span>
                        <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide" *ngIf="driver.verify == 1">Approved</span> 
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Action / Status</mat-header-cell>
                    <mat-cell *matCellDef="let driver; let i=index;">
                        <button (click)="viewDriverDetails(driver)" mat-icon-button color="primary" matTooltip="view Driver Details">
							<mat-icon>remove_red_eye</mat-icon>
						</button>
						<button (click)="editDriver(i,driver)" mat-icon-button color="primary" matTooltip="Edit driver">
							<mat-icon style="color: #040404;" aria-label="Edit">create</mat-icon>
                        </button>

                        <ng-container *ngIf="http.getUserDetail.type==0">
							<button mat-icon-button color="warn" matTooltip="Delete driver" type="button" (click)="deleteDriver(i,driver.user_id)">
                                <mat-icon>delete</mat-icon>
                            </button>
						</ng-container>
                        
						<button mat-icon-button class="material-icons color_green" matTooltip="Verify driver" type="button" *ngIf="driver.verify == 1" (click)="verifyDriver(i,driver.user_id,0)">
							<mat-icon style="color: green;">thumb_up</mat-icon>
						</button>
						<button mat-icon-button color="warn" matTooltip="Verify driver" type="button" *ngIf="driver.verify == 0" (click)="verifyDriver(i,driver.user_id,1)">
							<mat-icon style="color: red;">thumb_down</mat-icon>
						</button>
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let driver; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

        <!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<ngb-pagination [collectionSize]="dataSource.totalDriver" [(page)]="curDriverDataService.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="handlePage($event)" style="margin-top:30px;"></ngb-pagination>
        </div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
