<div class="row">
	<div class="col-xl-12">
		
		<div class="row row-full-height">
			<div class="col-sm-12 col-md-12 col-lg-4">
				<h3>All Time</h3>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-4">
				<h3>Current Week</h3>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-4">
				<h3>Last Week</h3>
			</div>

			<!-- All Time -->
			<div class="col-md-4">
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/user-list-management/users-list']">
						
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.users_count}}</span>
										<span class="kt-widget26__desc">Users</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>	
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/driver-management/all-drivers-list']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand blue'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.driver_count}}</span>
										<span class="kt-widget26__desc_white">Drivers</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
					<!-- <div class="kt-space-20"></div> -->
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/driver-management/online-drivers-list']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand blue'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.online_driver_count}}</span>
										<span class="kt-widget26__desc_white">Online Drivers</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/pending-rides']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand yellow'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.pending_ride}}</span>
										<span class="kt-widget26__desc_black">Pending Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/running-rides']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand yellow'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.running_ride}}</span>
										<span class="kt-widget26__desc_black">Running Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/complete-rides']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand green'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.completed_ride}}</span>
										<span class="kt-widget26__desc_black">Completed Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/canceled-rides']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.canceled_ride}}</span>
										<span class="kt-widget26__desc_white">Canceled Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/auto-canceled-rides']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.autocomplete_ride}}</span>
										<span class="kt-widget26__desc_white">No Response</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/driver-not-available']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.driver_not_available}}</span>
										<span class="kt-widget26__desc_white">No Driver Available</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
					
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/fake-rides']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.fake_ride}}</span>
										<span class="kt-widget26__desc_white">Fake Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
					
				</div>
			</div>
			<!--End All Time -->

			<!-- Current Week -->
			<div class="col-md-4">
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/user-list-management/users-list/currentweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.current_week_users_count}}</span>
										<span class="kt-widget26__desc">Users</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>	
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/driver-management/drivers-list/currentweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand blue'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.current_week_week_driver_count}}</span>
										<span class="kt-widget26__desc_white">Drivers</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
					
					<!-- <div class="kt-space-20"></div> -->
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/driver-management/online-drivers-list']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand blue'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.current_week_week_driver_count}}</span>
										<span class="kt-widget26__desc_white">Online Drivers</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/pending-rides/currentweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand yellow'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.current_week_pending_ride}}</span>
										<span class="kt-widget26__desc_black">Pending Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/running-rides/currentweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand yellow'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.current_week_running_ride}}</span>
										<span class="kt-widget26__desc_black">Running Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/complete-rides/currentweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand green'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.current_week_completed_ride}}</span>
										<span class="kt-widget26__desc_black">Completed Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/canceled-rides/currentweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.current_week_canceled_ride}}</span>
										<span class="kt-widget26__desc_white">Canceled Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/auto-canceled-rides/currentweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.current_week_autocomplete_ride}}</span>
										<span class="kt-widget26__desc_white">No Response</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/driver-not-available/currentweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.current_week_driver_not_available}}</span>
										<span class="kt-widget26__desc_white">No Driver Available</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/fake-rides/currentweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.current_week_fake_ride}}</span>
										<span class="kt-widget26__desc_white">Fake Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>
			</div>
			<!--End Current Week -->

			<!-- Last Week -->
			<div class="col-md-4">
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/user-list-management/users-list/lastweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.last_week_users_count}}</span>
										<span class="kt-widget26__desc">Users</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>	
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/driver-management/drivers-list/lastweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand blue'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.last_week_driver_count}}</span>
										<span class="kt-widget26__desc_white">Drivers</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				
					<!-- <div class="kt-space-20"></div> -->
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/driver-management/online-drivers-list']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand blue'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.online_driver_count}}</span>
										<span class="kt-widget26__desc_white">Online Drivers</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/pending-rides/lastweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand yellow'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.last_week_pending_ride}}</span>
										<span class="kt-widget26__desc_black">Pending Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/running-rides/lastweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand yellow'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.last_week_running_ride}}</span>
										<span class="kt-widget26__desc_black">Running Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>
	
				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/complete-rides/lastweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand green'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.last_week_completed_ride}}</span>
										<span class="kt-widget26__desc_black">Completed Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/canceled-rides/lastweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.last_week_canceled_ride}}</span>
										<span class="kt-widget26__desc_white">Canceled Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/auto-canceled-rides/lastweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.last_week_autocomplete_ride}}</span>
										<span class="kt-widget26__desc_white">No Response</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/driver-not-available/lastweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.last_week_driver_not_available}}</span>
										<span class="kt-widget26__desc_white">No Driver Available</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>

				<div class="col-xs-12">
					<a href="javascript:void()" [routerLink]="['/ride-management/fake-rides/lastweek']">
						<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand pink'">
							<kt-portlet-body [class]="'kt-portlet__body--fluid'">
								<div class="kt-widget26">
									<div class="kt-widget26__content">
										<span class="kt-widget26__number">{{dashData.last_week_fake_ride}}</span>
										<span class="kt-widget26__desc_white">Fake Ride</span>
									</div>
								</div>
							</kt-portlet-body>
						</kt-portlet>
					</a>
				</div>
			</div>
			<!--End Last Week -->
			
		</div>
	</div>
	<!-- <div class="col-xl-6">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Order Statistics'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget12></kt-widget12>
			</kt-portlet-body>
		</kt-portlet>
	</div> -->
</div>

<!-- <kt-portlet>
	<kt-portlet-body [class]="'kt-portlet__body--fit'">
		<div class="row row-no-padding row-col-separator-xl">
			<div class="col-xl-4">
				<kt-widget1></kt-widget1>
			</div>
			<div class="col-xl-4">
				<kt-widget14 [title]="'Daily Sales'" [desc]="'Check out each collumn for more details'"></kt-widget14>
			</div>
			<div class="col-xl-4">
				<kt-widget14 [title]="'Revenue Change'" [desc]="'Revenue change breakdown by cities'"></kt-widget14>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet> -->


<!-- <div class="row">
	<div class="col-xl-4">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Download Files'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget4 [data]="widget4_1">
					<ng-template #actionTemplate let-item="item">
						<div class="kt-widget4__tools">
							<a href="javascript:;" class="btn btn-clean btn-icon btn-sm">
								<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
							</a>
						</div>
					</ng-template>
				</kt-widget4>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-xl-4">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'New Users'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget4 [data]="widget4_2">
					<ng-template #actionTemplate let-item="item">
						<a href="javascript:;" class="btn btn-sm" [ngClass]="item.buttonClass">Follow</a>
					</ng-template>
				</kt-widget4>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-xl-4">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Latest Updates'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget4 [data]="widget4_3">
					<ng-template #actionTemplate let-item="item">
						<span class="kt-widget4__number" [ngClass]="item.valueColor">{{item.value}}</span>
					</ng-template>
				</kt-widget4>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div> -->


<!-- <div class="row">
	<div class="col-xl-8">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Exclusive Datatable'" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
				<ng-container ktPortletTools>
					<kt-context-menu></kt-context-menu>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<kt-data-table></kt-data-table>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-xl-4">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Authors Profit'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget4 [data]="widget4_4">
					<ng-template #actionTemplate let-item="item">
						<span class="kt-widget4__number" [ngClass]="item.valueColor">{{item.value}}</span>
					</ng-template>
				</kt-widget4>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>


<div class="row">
	<div class="col-xl-8">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Best Sellers'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget5></kt-widget5>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-xl-4">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Recent Activities'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-timeline2></kt-timeline2>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div> -->


<!--
<kt-portlet>
	<kt-portlet-header>
		<ng-container ktPortletTitle>
		</ng-container>
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body></kt-portlet-body>
	<kt-portlet-footer></kt-portlet-footer>
</kt-portlet>
-->
