:host {
	::ng-deep {
		ngb-tabset > .nav-tabs {
			display: none;
		}
	}
}

#height_wrap{height: calc(25% - 0px);}

@media (max-width:767px){

	#height_wrap{height: calc(27% - 20px);}

}

h3 {
	text-align: center;
}

.kt-portlet__body.kt-portlet__body--fluid{
	height: 100px;
}

.kt-widget26 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .kt-widget26__content {
        display: flex;           
        padding-bottom: 1rem;      
        flex-grow: 1;     
        display: flex;
        flex-direction: column;

        .kt-widget26__number {
            font-weight: 600;
            font-size: 1.8rem;
        } 

        .kt-widget26__desc {
            color: kt-base-color(label, 2);
            font-size: 1.1rem;
            font-weight: 400;
            margin-top: 0.55rem;
		}     
		
		.kt-widget26__desc_white{
			color: #ffffff;
            font-size: 1.1rem;
            font-weight: 400;
            margin-top: 0.55rem;
		}

		.kt-widget26__desc_black{
			color: #000000;
            font-size: 1.1rem;
            font-weight: 400;
            margin-top: 0.55rem;
		}
        
	}
}	