<kt-portlet>

	<kt-portlet-header [sticky]="true" [title]="'Page List'" [class]="'kt-portlet__head--lg'">
        <ng-container ktPortletTools>
			<button (click)="addPage()" mat-raised-button matTooltip="Add New Page" color="primary" type="button">
				<span>Add Page</span>
			</button>
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->
	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form kt-margin-b-30">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-4 kt-margin-bottom-10-mobile">
						<mat-form-field>
							<input matInput placeholder="Search product" (keyup)="applyFilter($event.target.value)" placeholder="Search" class="mat-form-field mat-form-field-fluid">
							<mat-hint align="start">
								<strong>Search in all fields</strong>
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
            <!-- end::FILTERS -->
            
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- MATERIAL TABLE | Binded to datasources -->
		<div class="mat-table__wrapper">

            <mat-table mat-table [dataSource]="dataSource" class="mat-cell noDriverAvail" matSort>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sr.No</mat-header-cell>
                    <mat-cell *matCellDef="let page">{{page.index}}</mat-cell>
                </ng-container>
            
                <!-- User Name Column -->
                <ng-container matColumnDef="page_title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Page Title</mat-header-cell>
                    <mat-cell *matCellDef="let page">{{page.page_title}}</mat-cell>
                </ng-container>

                <!-- Message Column -->
                <ng-container matColumnDef="page_slug">
                    &nbsp;&nbsp;<mat-header-cell *matHeaderCellDef mat-sort-header>Page Slug</mat-header-cell>
                    &nbsp;&nbsp;<mat-cell *matCellDef="let page">{{page.page_slug}}</mat-cell>
                </ng-container>

                <!-- Created Date Column -->
                <ng-container matColumnDef="created_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
                    <mat-cell *matCellDef="let page">{{page.created_date}}</mat-cell>
                </ng-container>
                
                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                    <mat-cell *matCellDef="let page; let i=index;">
                        <button (click)="editPageDetail(i, page)" mat-icon-button color="primary" matTooltip="Edit Page">
							<mat-icon style="color: #040404;" aria-label="Edit">create</mat-icon>
                        </button>
                    
                        <button mat-icon-button color="warn" matTooltip="Delete Page" type="button" (click)="deletePage(page.id)">
							<mat-icon>delete</mat-icon>
						</button>
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let page; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

        <!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<ngb-pagination [collectionSize]="dataSource.totalPage" [(page)]="pageDataService.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="handlePage($event)" style="margin-top:30px;"></ngb-pagination>
        </div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
