<div class="kt-portlet"
	[ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">User List More Filter</h3>
		</div>
	</div>

	<form class="kt-form" [formGroup]="userFilterForm" (ngSubmit)="applyFilter(userFilterForm.value)">
		<div class="kt-portlet__body">

      
      <div class="form-group kt-form__group row">

        <div class="form-row mb-4 fullwidthl">
          <div class="col-xs-12 col-md-3">
            <!-- First name -->
            <label for="ssn" class="form-label label document">Username</label>
            <input type="text" class="form-control" formControlName="username" placeholder="Username">
          </div>

          <div class="col-xs-12 col-md-3">
            <!-- Last name -->
            <label for="ssn" class="form-label label document">Mobile</label>
            <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile">
          </div>

          <div class="col-xs-12 col-md-3">
            <label for="ssn" class="form-label label document">Date Of Birth</label>
            <input type="text" class="form-control" id="dob" formControlName="dob"
                placeholder="YYYY-MM-DD"  bsDaterangepicker
                  [bsConfig]="{ adaptivePosition: true, isAnimated: true, containerClass: 'theme-red', rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD' }" autocomplete="off">
          </div>  

          <div class="col-xs-12 col-md-3">
            <label for="ssn" class="form-label label document">Date Of Register</label>
            <input type="text" class="form-control" id="dor" formControlName="dor"
                  placeholder="YYYY-MM-DD"  bsDaterangepicker
                  [bsConfig]="{ adaptivePosition: true, isAnimated: true, containerClass: 'theme-red', rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD' }" autocomplete="off">
          </div>  

         
        </div>
      </div>    
      
      <div class="form-group kt-form__group row">

        <div class="form-row mb-4">

          <div class="col-xs-12 col-md-3">
            <!-- Last name -->
            <label for="ssn" class="form-label label document fullwidthl">Completed Ride</label>
            <input type="text" class="form-control minMaxl" placeholder="Min" formControlName="min_completed" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                   
              <input type="text" class="form-control minMaxr"  placeholder="Max" formControlName="max_completed" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
          </div>

          <div class="col-xs-12 col-md-3">
            <!-- Last name -->
            <label for="ssn" class="form-label label document fullwidthl">Cancelled Ride</label>
            <input type="text" class="form-control minMaxl"  placeholder="Min" formControlName="min_cancelled" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                   
            <input type="text" class="form-control minMaxr"  placeholder="Max" formControlName="max_cancelled" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
          </div>

          <div class="col-xs-12 col-md-3">
            <!-- First name -->
            <label for="ssn" class="form-label label document fullwidthl" >Total Reviews</label>
            <input type="text" class="form-control minMaxl"  placeholder="Min" formControlName="min_total" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                   
            <input type="text" class="form-control minMaxr"   placeholder="Max" formControlName="max_total" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
          </div>

          <div class="col-xs-12 col-md-3">
            <!-- First name -->
            <label for="ssn" class="form-label label document fullwidthl" style="width:100%; float: left;" >Average Ratings</label>
            <input type="text" class="form-control minMaxl" placeholder="Min" formControlName="min_average" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                   
            <input type="text" class="form-control minMaxr"  placeholder="Max" formControlName="max_average" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
          </div>
        </div>  

      </div>
        
      <div class="form-group kt-form__group row">
        <!-- Device Type Box -->
        <div class="form-row mb-4 fullwidthl">
          <div class="col-xs-12 col-md-3">
            <label for="ssn" class="form-label label document fullwidthl">Device Type</label>
            <ng-multiselect-dropdown
                name="device_id"
                [placeholder]="'Select Device Type'"
                [data]="device_types"
                formControlName="device_type"
                [disabled]="disabled"
                [settings]="dropdownDeviceSettings">
            </ng-multiselect-dropdown>
           
          </div>  
  
          <!-- Device Type Box -->
          <div class="col-xs-12 col-md-3">
            <label for="ssn" class="form-label label document fullwidthl">Verify</label>
            <ng-multiselect-dropdown
                name="verify_id"
                [placeholder]="'Select Verify'"
                [data]="verify_data"
                formControlName="verify"
                [disabled]="disabled"
                [settings]="dropdownVerifySettings">
            </ng-multiselect-dropdown>
          </div>  

          
          <!-- Status Box -->
          <div class="col-xs-12 col-md-3">
            <label for="ssn" class="form-label label document fullwidthl">Status</label>
            <ng-multiselect-dropdown
                name="status_id"
                [placeholder]="'Select Status'"
                [data]="status_data"
                formControlName="status"
                [disabled]="disabled"
                [settings]="dropdownStatusSettings">
            </ng-multiselect-dropdown>
          </div>  
        </div>
        
      </div>
  
		</div>
		
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" class="resetForm" mat-raised-button (click)="resetForm()" matTooltip="Reset Form">Reset</button>&nbsp;
            <button type="submit" mat-raised-button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" color="primary" matTooltip="Apply Filter">Apply</button>&nbsp;
            <button type="button" mat-raised-button (click)="closeForm()" [mat-dialog-close]="3" cdkFocusInitial matTooltip="Close Modal" color="warn">
							Close
            </button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
