<div class="kt-portlet"
	[ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{data.title}}</h3>
		</div>
	</div>

	<form class="kt-form" [formGroup]="driverFilterForm" (ngSubmit)="applyFilter(driverFilterForm.value)">
		<div class="kt-portlet__body">

            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose()">
				Enter atleast one value in the field
			</kt-alert>


            <div class="form-group kt-form__group row">
                <div class="form-row mb-4 fullwidthl">
                    <!-- Username -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Username</label>
                        <input type="text" class="form-control" formControlName="username" placeholder="Username">
                    </div>

                    <!-- Mobile -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Mobile</label>
                        <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile">
                    </div>

                    <!-- Date Of Birth -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Date Of Birth</label>
                        <input type="text" class="form-control" id="dob" formControlName="dob"
                            placeholder="YYYY-MM-DD"  bsDaterangepicker
                            [bsConfig]="{ adaptivePosition: true, isAnimated: true, containerClass: 'theme-red', rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD' }">
                    </div>  
                    
                    <!-- Date Of Register -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Date Of Register</label>
                        <input type="text" class="form-control" id="dor" formControlName="dor"
                            placeholder="YYYY-MM-DD"  bsDaterangepicker
                            [bsConfig]="{ adaptivePosition: true, isAnimated: true, containerClass: 'theme-red', rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD' }">
                    </div>  
                </div>
            </div>    
            
            <div class="form-group kt-form__group row">
                <div class="form-row mb-4 fullwidthl">

                    <!-- Rides -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document fullwidthl">Rides</label>
                        <input type="text" class="form-control minMaxl" placeholder="Min" formControlName="min_rides" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                            
                        <input type="text" class="form-control minMaxr"  placeholder="Max" formControlName="max_rides" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                    </div>

                    <!-- Cancelled Ride -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document fullwidthl">Cancelled Ride</label>
                        <input type="text" class="form-control minMaxl"  placeholder="Min" formControlName="min_cancelled" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                            
                        <input type="text" class="form-control minMaxr"  placeholder="Max" formControlName="max_cancelled" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                    </div>

                    <!-- Acceptance Ratio -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document fullwidthl">Acceptance Ratio</label>
                        <input type="text" class="form-control minMaxl"  placeholder="Min" formControlName="min_acceptance" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                            
                        <input type="text" class="form-control minMaxr"   placeholder="Max" formControlName="max_acceptance" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                    </div>

                    <!-- Rejected Ratio -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document fullwidthl">Rejected Ratio</label>
                        <input type="text" class="form-control minMaxl" placeholder="Min" formControlName="min_rejected" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                            
                        <input type="text" class="form-control minMaxr"  placeholder="Max" formControlName="max_rejected" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                    </div>

                </div>  
            </div>

            <div class="form-group kt-form__group row">

                <div class="form-row mb-4 fullwidthl">

                    <!-- Last Week Online Hours -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document fullwidthl">Last Week Online Hours</label>
                        <input type="text" class="form-control minMaxl" placeholder="Min" formControlName="min_last_week" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                            
                        <input type="text" class="form-control minMaxr"  placeholder="Max" formControlName="max_last_week" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                    </div>

                    <!-- Current Week Online Hours -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document fullwidthl">Current Week Online Hours</label>
                        <input type="text" class="form-control minMaxl"  placeholder="Min" formControlName="min_current_week" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                            
                        <input type="text" class="form-control minMaxr"  placeholder="Max" formControlName="max_current_week" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                    </div>

                    <!-- Total Online Hours -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document fullwidthl">Total Online Hours</label>
                        <input type="text" class="form-control minMaxl"  placeholder="Min" formControlName="min_total_hours" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                            
                        <input type="text" class="form-control minMaxr"  placeholder="Max" formControlName="max_total_hours" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                    </div>

                    <!-- Total Reviews -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document fullwidthl">Total Reviews</label>
                        <input type="text" class="form-control minMaxl" placeholder="Min" formControlName="min_total_reviews" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                            
                        <input type="text" class="form-control minMaxr"  placeholder="Max" formControlName="max_total_reviews" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                    </div>

                </div>  

            </div>

            <div class="form-group kt-form__group row">

                <div class="form-row mb-4 fullwidthl">

                    <!-- Average Rating -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document fullwidthl">Average Rating</label>
                        <input type="text" class="form-control minMaxl" placeholder="Min" formControlName="min_average" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                            
                        <input type="text" class="form-control minMaxr"  placeholder="Max" formControlName="max_average" onkeydown="return ( event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )"/>
                    </div>

                    <!-- Device Type -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document fullwidthl">Device Type</label>
                        <ng-multiselect-dropdown
                            name="device_id"
                            [placeholder]="'Select Device Type'"
                            [data]="device_types"
                            formControlName="device_type"
                            [disabled]="disabled"
                            [settings]="dropdownDeviceSettings">
                        </ng-multiselect-dropdown>
                    </div>  
        
                    <!-- Verify -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document fullwidthl">Verify</label>
                        <ng-multiselect-dropdown
                            name="verify_id"
                            [placeholder]="'Select Verify'"
                            [data]="verify_data"
                            formControlName="verify"
                            [disabled]="disabled"
                            [settings]="dropdownVerifySettings">
                        </ng-multiselect-dropdown>
                    </div>  

                </div>
            </div>
		</div>
		
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" class="resetForm" mat-raised-button (click)="resetForm()" matTooltip="Reset Form">Reset</button>&nbsp;
                        <button type="submit" mat-raised-button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" color="primary" matTooltip="Apply Filter">Apply</button>&nbsp;
                        <button type="button" mat-raised-button [mat-dialog-close]="3" cdkFocusInitial matTooltip="Close Modal" color="warn">
                            Close
                        </button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
