.mat-form-field-fluid{
    margin-top: -17px !important;
}
.fullwidthl {
    width:100%; float: left;
}
.minMaxl {
    width: 48%; float: left;
}
.minMaxr {
    width: 48%; float: right;
}
.halfWidth{
    width: 50%;
}
.col {width: 100%;}