<kt-portlet>

	<kt-portlet-header [sticky]="true" [title]="'Option Details'" [class]="'kt-portlet__head--lg'">
	
	</kt-portlet-header>
	<!-- end::Header -->
	<kt-portlet-body>
        <form class="kt-form" [formGroup]="logDetailsForm" (ngSubmit)="updateDetails(logDetailsForm.value)">
            <div class="kt-portlet__body">
    
                <div class="kt-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>
    
                <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
                    Oh snap! Fill up a few things and try submitting again.
                </kt-alert>

                <div class="form-group kt-form__group row">
                    <label class="col-md-2">Driver</label>
                    <div class="col-md-6">
                        <ng-multiselect-dropdown
                            name="driver_id"
                            [placeholder]="'Select Driver'"
                            [data]="drivers"
                            formControlName="driver_id"
                            [disabled]="disabled"
                            [settings]="dropdownSettings"
                            (onSelect)="onItemSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                </div>

                <div class="form-group kt-form__group row">
                    <label class="col-md-2">Duration</label>
                    <div class="col-md-6">
                        <select class="form-control" formControlName="duration" (change)="changeDuration($event.target.value)">
                            <option value="Day">Day</option>
                            <option value="Week">Week</option>
                            <option value="Month">Month</option>
                            <option value="Year">Year</option>
                        </select>
                        
                    </div>
                </div>

                <div class="form-group kt-form__group row">
                    <label class="col-md-2">Month</label>
                    <div class="col-md-6">
                        <!-- Day Input DatePicker -->
                        <input type="text" id="dayTime"
                                placeholder="YYYY-MM-DD" class="form-control" bsDatepicker
                                [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD', isAnimated: true, containerClass: 'theme-default' }"
                                #datepickerYMD="bsDatepicker">

                        <!-- Week Input DatePicker -->
                        <input type="text" id="weekTime"
                                placeholder="YYYY-MM-DD" class="form-control" bsDaterangepicker
                                [bsConfig]="{ adaptivePosition: true, isAnimated: true, containerClass: 'theme-red', ranges: ranges, rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD' }"
                                style="display: none;">

                        <!-- Month & Year Input DatePicker -->
                        <input type="text" id="monthTime"
                                placeholder="MM/YYYY" class="form-control" bsDatepicker (onShown)="onMonthYear($event)"
                                [bsConfig]="{ adaptivePosition: true, isAnimated: true, containerClass: 'theme-dark-blue', dateInputFormat: 'MM/YYYY' }"
                                style="display: none;">

                        <!-- Year Input DatePicker -->
                        <input type="text" id="yearTime"
                                placeholder="YYYY" class="form-control" bsDatepicker (onShown)="onYear($event)"
                                [bsConfig]="{ adaptivePosition: true, isAnimated: true, containerClass: 'theme-green', dateInputFormat: 'YYYY' }"
                                style="display: none;">
                    </div>
                </div>
              
            </div>
    
            <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
                <div class="kt-form__actions kt-form__actions--solid">
                    <div class="row text-right">
                        <div class="col-lg-12">
                            <button type="submit" mat-raised-button [disabled]="!logDetailsForm.valid" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" color="primary" matTooltip="Save changes">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Log report Data -->
        <div id='reportData'>
            <br>
            <div>
                <p style="font-size: 17px;">Total Hours : <b>{{total_hour}}</b></p>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datas" class="table table-striped b-t b-b select">
                    <thead>
                        <tr>                                        
                            <th>Date</th>
                            <th>From Time</th>
                            <th>To Time</th>
                        </tr>
                    </thead>
                    <tbody id="tblbody">
                        <tr *ngFor="let data of resultArray;">
                            <td>{{data.created_date}}</td>
                            <td>{{data.start_time}}</td>
                            <td>{{data.end_time}}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>  
            </div>  
        </div>
    </kt-portlet-body>
    
</kt-portlet>    