<div class="kt-portlet"
	[ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">Edit Page Details</h3>
		</div>
	</div>

	<form class="kt-form" #formControl="ngForm">
		<div class="kt-portlet__body">

			<div class="kt-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
				The code has already been taken
			</kt-alert>

            <!-- Page Title Column -->
            <div class="form-group kt-form__group row">
                <label class="col-md-2">Page Title</label>
                <div class="col-md-10">
                    <input class="form-control" [(ngModel)]="data.pageData.page_title" name="page_title"  placeholder="Enter Page Title" required/>
                    <mat-error *ngIf="formControl.invalid">{{valid()}}</mat-error>
                    <!-- formControlName="page_title" -->
                    <!-- <mat-error *ngIf="isControlHasError('page_title','required')">
                        <strong>Page title is required</strong>
                    </mat-error> -->
                </div>
            </div>

            <!-- Page Slug Column -->
            <div class="form-group kt-form__group row">
                <label class="col-md-2">Page Slug</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="Enter Page Slug" [(ngModel)]="data.pageData.page_slug" name="page_slug" readonly/>
                    <mat-error *ngIf="formControl.invalid">{{valid()}}</mat-error>
                    <!-- formControlName="page_slug" -->
                    <!-- <mat-error *ngIf="isControlHasError('page_slug','required')">
                        <strong>Page slug is required</strong>
                    </mat-error> -->
                </div>
            </div>
            
            <!-- Page Content Column -->
            <div class="form-group kt-form__group row">
                <label class="col-md-2">Page Content</label>
                <div class="col-md-10">
                    <ckeditor [(ngModel)]="data.pageData.content" 
                            #myckeditor
                            name="content"
                            required
                            [config]="ckeConfig" 
                            debounce="500">
                    </ckeditor>
                    <mat-error *ngIf="formControl.invalid">{{valid()}}</mat-error>
                    <!-- <mat-error *ngIf="isControlHasError('content','required')">
                        <strong>Page content is required</strong>
                    </mat-error> -->
                </div>
            </div>    

            <input [(ngModel)]="data.pageData.id" name="id" hidden>
			
			<div class="kt-separator kt-separator--dashed"></div>
		</div>
		

		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" mat-raised-button [mat-dialog-close]="1" cdkFocusInitial matTooltip="Close">
							Close
						</button>&nbsp;
						<button type="submit" mat-raised-button [disabled]="!formControl.valid" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" color="primary" (click)="updatePageDetails()" matTooltip="Save changes">Save</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
