<div class="kt-portlet" [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title"> View <strong>{{data.userData.name}}</strong> Details</h3>
		</div>
    </div>
    
    <div class="kt-form">
        <div class="kt-portlet__body">

            <div class="kt-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>

            <div class="col-sm-12">
                <label class="col-sm-4">User Name :</label>
                <span>{{ data.userData.name }}</span>
            </div>
            <br/>
            
            <div class="col-sm-12">
                <label class="col-sm-4">Email Id :</label>
                <span>{{data.userData.email_id}}</span>
            </div>
            
            <br/>
          
            <div class="col-sm-12">
                <label class="col-sm-4">Mobile No :</label>
                <span>{{data.userData.mobile_no}}</span>
            </div>
            
            <br/>

            <div class="col-sm-12">
                <label class="col-sm-4">Status :</label>
                <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide" *ngIf="data.userData.status == 0">Disable</span>
                <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide" *ngIf="data.userData.status == 1">Enable</span>
                
            </div>
            
            <br/>
            <div class="kt-separator kt-separator--dashed"></div>
           
        </div>
        <div class="kt-portlet__foot kt-portlet__foot--fit kt-portlet__no-border">
            <div class="kt-form__actions kt-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Close">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
