<div class="kt-portlet"
	[ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{data.mode == 2 ? 'Edit '+data.driver.first_name+' '+data.driver.last_name : 'View'}}</h3>
		</div>
	</div>
	<form class="kt-form" [formGroup]="editDriverForm" (ngSubmit)="updateUser(editDriverForm.value)">
		<div class="kt-portlet__body">

			<div class="kt-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
				Oh snap! Fill up a few things and try submitting again.
			</kt-alert>

			<div class="form-group kt-form__group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<!-- <label for="ssn" class="form-label label document">First Name</label> -->
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="Enter First Name" formControlName="first_name" />
						<div *ngIf="valid.first_name.errors" class="validate">
							<div *ngIf="valid.first_name.errors.required">First name is required</div>
						</div>
					</mat-form-field>
				</div>
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<!-- <label for="ssn" class="form-label label document">Last Name</label> -->
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="Enter Last Name" formControlName="last_name" />
						<div *ngIf="valid.last_name.errors" class="validate">
							<div *ngIf="valid.last_name.errors.required">Last name is required</div>
						</div>
					</mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
					<!-- <label for="ssn" class="form-label label document">Date Of Birth</label> -->
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="Enter Last Name" formControlName="date_of_birth" />
						<div *ngIf="valid.date_of_birth.errors" class="validate">
							<div *ngIf="valid.date_of_birth.errors.required">Date of birth is required</div>
						</div>
					</mat-form-field>
				</div>
			</div>
			<div class="kt-separator kt-separator--dashed"></div>
			<div class="form-group kt-form__group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<!-- <label for="ssn" class="form-label label document">Car Brand</label> -->
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="Enter Car Brand" formControlName="car_brand"/>
						<div *ngIf="valid.car_brand.errors" class="validate">
							<div *ngIf="valid.car_brand.errors.required">Car brand is required</div>
						</div>
					</mat-form-field>
				</div>
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<!-- <label for="ssn" class="form-label label document">Car Year</label> -->
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="Enter Car Year" formControlName="car_year" />
						<div *ngIf="valid.car_year.errors" class="validate">
							<div *ngIf="valid.car_year.errors.required">Car year is required</div>
						</div>
					</mat-form-field>
                </div>
                <div class="col-lg-4 kt-margin-bottom-20-mobile">
					<!-- <label for="ssn" class="form-label label document">Plate Number</label> -->
					<mat-form-field class="mat-form-field-fluid">
						<input matInput placeholder="Enter Plate Number" formControlName="plate_no" />
						<div *ngIf="valid.plate_no.errors" class="validate">
							<div *ngIf="valid.plate_no.errors.required">Plate number is required</div>
						</div>
					</mat-form-field>
				</div>
			</div>
			<div class="kt-separator kt-separator--dashed"></div>
			<div class="form-group kt-form__group row">
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
				
					<label for="ssn" class="form-label label document">Profile Pic</label>

					<div class="upload-image">
						<div #image class="image-wrapper"></div>
						<div class="certificate-browse-btn">
							<input #myInput type="file" id="pimage"
								(change)="onUploadChange($event)"/>
							<div class="browse-image">
								<p>Drop file here OR </p>
								<img src="assets/img/upload.png" />
								<p>browse image</p>
							</div>
						</div>
					</div>

					<div class="col-md-12" *ngIf="data.driver.profile!='' || data.driver.profile!=null">
						<div class="displayDocument">
							<img [src]="data.driver.profile" class="rounded mb-3 displayImage">

							<!-- <a class="delete" href="javascript:void()"
								(click)="deleteCertificate(data.driver.driver_id)"
								mat-icon-button
								style="color: #ff0000;position: absolute;top: 0;right: 0;">
								<mat-icon>delete</mat-icon>
							</a> -->
						</div>
					</div>

					<div class="form-row" id="certificate">
					</div>

				</div>
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
				
					<label for="ssn" class="form-label label document">Car Image</label>

					<div class="upload-image">
						<div #image class="image-wrapper"></div>
						<div class="certificate-browse-btn">
							<input #myInput type="file" id="carImage"
								(change)="onUploadChange($event)"/>
							<div class="browse-image">
								<p>Drop file here OR </p>
								<img src="assets/img/upload.png" />
								<p>browse image</p>
							</div>
						</div>
					</div>

					<div class="col-md-12" *ngIf="data.driver.car_images!=''">
						<ng-container *ngFor="let carImg of data.driver.car_images">
							<div class="displayDocument">
								<img [src]="carImg" class="rounded mb-3 displayImage">
	
								<a class="delete" href="javascript:void()"
									(click)="deleteCarImg(data.driver.driver_id)"
									mat-icon-button
									style="color: #ff0000;position: absolute;top: 0;right: 0;">
									<mat-icon>delete</mat-icon>
								</a>
							</div>
						</ng-container>
						
					</div>

					<div class="form-row" id="certificate">
					</div>

				</div>
				<div class="col-lg-4 kt-margin-bottom-20-mobile">
				
					<label for="ssn" class="form-label label document">Licence Image</label>

					<div class="upload-image">
						<div #image class="image-wrapper"></div>
						<div class="certificate-browse-btn">
							<input #myInput type="file" id="licImage"
								(change)="onUploadChange($event)"/>
							<div class="browse-image">
								<p>Drop file here OR </p>
								<img src="assets/img/upload.png" />
								<p>browse image</p>
							</div>
						</div>
					</div>

					<div class="col-md-12" *ngIf="data.driver.licence!=''">
						<div class="displayDocument">
							<img [src]="data.driver.licence" class="rounded mb-3 displayImage">
						</div>
					</div>

					<div class="form-row" id="certificate">
					</div>

				</div>
			</div>
		</div>
		<input type="hidden" id="userId" formControlName="user_id">
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
							Cancel
						</button>&nbsp;
						<button type="submit" mat-raised-button color="primary" [disabled]="viewLoading" matTooltip="Save changes">
							Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
