<div class="kt-portlet"
	[ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{data.title}}</h3>
		</div>
	</div>

	<form class="kt-form" [formGroup]="noDriverAvailbleFilterForm" (ngSubmit)="applyFilter(noDriverAvailbleFilterForm.value)">
		<div class="kt-portlet__body">

            <kt-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose()">
				Enter atleast one value in the field
			</kt-alert>


            <div class="form-group kt-form__group row">
                <div class="form-row mb-4 fullwidthl">
                    <!-- Rider Name -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Rider Name</label>
                        <input type="text" class="form-control" formControlName="rider_name" placeholder="Rider Name">
                    </div>

                    <!-- Mobile -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Mobile</label>
                        <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile">
                    </div>

                    <!-- Location -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Location</label>
                        <input type="text" class="form-control" formControlName="location" placeholder="Location">
                    </div>  
                    
                    <!-- Created Date -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Created Date</label>
                        <input type="text" class="form-control" formControlName="created_date" id="created_date"
                            placeholder="YYYY-MM-DD"  bsDaterangepicker 
                            [bsConfig]="{ adaptivePosition: true, isAnimated: true, containerClass: 'theme-dark-blue', rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD' }" autocomplete="off">
                    </div>  
                </div>
            </div>       
		</div>
		
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" class="resetForm" mat-raised-button (click)="resetForm()" matTooltip="Reset Form">Reset</button>&nbsp;
                        <button type="submit" mat-raised-button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" color="primary" matTooltip="Apply Filter">Apply</button>&nbsp;
                        <button type="button" mat-raised-button (click)="closeForm()" [mat-dialog-close]="3" cdkFocusInitial matTooltip="Close Modal" color="warn">
							Close
                        </button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
