/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";

// regular style toast 
//@import '~ngx-toastr/toastr';
//"node_modules/ngx-toastr/toastr.css"


// header base skins
.kt-header-base-light {
	@import "sass/global/layout/header/skins/base/light.scss";
}
.kt-header-base-dark {
	@import "sass/global/layout/header/skins/base/dark.scss";
}

// header menu skins
.kt-header-menu-light {
	@import "sass/global/layout/header/skins/menu/light.scss";
}
.kt-header-menu-dark {
	@import "sass/global/layout/header/skins/menu/dark.scss";
}

// brand skins
.kt-brand-dark {
	@import "sass/global/layout/brand/skins/dark.scss";
}
.kt-brand-light {
	@import "sass/global/layout/brand/skins/light.scss";
}

// aside skins
.kt-aside-dark {
	@import "sass/global/layout/aside/skins/dark.scss";
}
.kt-aside-light {
	@import "sass/global/layout/aside/skins/light.scss";
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
	display: none !important;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
	width: 100% !important;
}

.position-static {
	position: static;
}

.mat-table__wrapper .mat-table.alluser {
    min-width: 1100px !important;
    width: 130% !important;
}

.mat-table__wrapper .mat-table.driverList {
    min-width: 1100px !important;
    width: 180% !important;
}

.mat-table__wrapper .mat-table.rideList {
    min-width: 1100px !important;
    width: 140% !important;
}

.mat-table__wrapper .mat-table.noDriverAvail {
    min-width: 980px !important;
    width: 100% !important;
}

.mat-table__wrapper .mat-table.notification {
    min-width: 770px !important;
    width: 100% !important;
}

.mat-table__wrapper .mat-table.fakeRide {
    min-width: 1650px !important;
    width: 100% !important;
}

.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 300px !important;
}

.kt-badge {
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 0.9rem !important;
}

.kt-aside-menu.ps{
    max-height: 90vh !important;
    position: relative !important;
}

@media (min-width: 1025px){
	.kt-portlet.kt-portlet--height-fluid-half {
		height: calc(50% - 20px) !important;
	}
}

.kt-portlet--height-fluid-half.kt-portlet--border-bottom-brand.pink{
    color: #ffffff;
    background-color: #b11448;
    
}

.kt-portlet--height-fluid-half.kt-portlet--border-bottom-brand.blue{
    color: #ffffff;
    background-color: #7266ba;
}

.kt-portlet--height-fluid-half.kt-portlet--border-bottom-brand.yellow{
    color: #000000;
    background-color: #fad733;
}

.kt-portlet--height-fluid-half.kt-portlet--border-bottom-brand.green{
    color: #000000;
    background-color: #27c24c;
}

.no-results{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.resetForm{
    background: #ffb822 !important;
    color: #111111 !important;
}