<div class="kt-portlet"
	[ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{data.title}}</h3>
		</div>
	</div>

	<form class="kt-form" [formGroup]="promotionUserFilterForm" (ngSubmit)="applyFilter(promotionUserFilterForm.value)">
		<div class="kt-portlet__body">

            <div class="form-group kt-form__group row">
                <div class="form-row mb-4 fullwidthl">
                    <!-- User Name -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Username</label>
                        <input type="text" class="form-control" formControlName="username" placeholder="Username">
                    </div>

                    <!-- Mobile -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Mobile</label>
                        <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile">
                    </div>

                    <!-- Description -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Description</label>
                        <input type="text" class="form-control" placeholder="Min" formControlName="description" placeholder="Description"/>
                    </div>   

                    <!-- Apply Date -->
                    <div class="col-xs-12 col-md-3">
                        <label for="ssn" class="form-label label document">Apply Date</label>
                        <input type="text" class="form-control" id="apply_date"
                            placeholder="YYYY-MM-DD"  bsDaterangepicker formControlName="apply_date"
                            [bsConfig]="{ adaptivePosition: true, isAnimated: true, containerClass: 'theme-red', rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD' }" autocomplete="off">
                    </div> 
                </div>
            </div>   
            
		</div>
		
		<div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
			<div class="kt-form__actions kt-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
                        <button type="button" class="resetForm" mat-raised-button (click)="resetForm()" matTooltip="Reset Form">Reset</button>&nbsp;
                        <button type="submit" mat-raised-button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" color="primary" matTooltip="Apply Filter">Apply</button>&nbsp;
                        <button type="button" mat-raised-button (click)="closeForm()" [mat-dialog-close]="3" cdkFocusInitial matTooltip="Close Modal" color="warn">
							Close
                        </button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
