<kt-portlet>

	<kt-portlet-header [sticky]="true" [title]="pageTitle" [class]="'kt-portlet__head--lg'">
    <ng-container ktPortletTools>
			<button (click)="applyCustomFilter()" mat-raised-button matTooltip="Apply Filter" color="primary" type="button">
				<span>More Filter</span>
      </button>&nbsp;&nbsp;
      <button (click)="clearFilter()" mat-raised-button matTooltip="Clear Filter" color="warn" type="button">
				<span>Clear Filter</span>
			</button>
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->

	<kt-portlet-body>
		<!-- start::FILTERS & GROUP ACTIONS -->
		<div class="kt-form kt-margin-b-30">
			<!-- start::FILTERS -->
			<div class="kt-form__filtration">
				<div class="row align-items-center">
					<div class="col-md-4 kt-margin-bottom-10-mobile">
						<mat-form-field>
                            <!-- #filter -->
							<input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Search product" placeholder="Search" class="mat-form-field mat-form-field-fluid">
							<mat-hint align="start">
								<strong>Search in all fields</strong>
							</mat-hint>
						</mat-form-field>
					</div>
				</div>
			</div>
			<!-- end::FILTERS -->
		</div>
		<!-- end::FILTERS & GROUP ACTIONS -->

		<!-- MATERIAL TABLE | Binded to datasources -->
		<div class="mat-table__wrapper">

            <!-- <div class="form">
                <mat-form-field floatPlaceholder="never" color="accent">
                  <input matInput #filter placeholder="Filter issues">
                </mat-form-field>
            </div> -->

            <mat-table #table [dataSource]="dataSource" matSort class="mat-cell alluser">
                <!-- ng update @angular/cli @angular/core -->
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
            
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                  <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                  <mat-cell *matCellDef="let row"> <a href="javascript:void()" (click)="viewUser(row)">{{row.first_name+' '+row.last_name}}</a></mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="mobile_no">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile No</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.mobile_no}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="completed_ride">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Completed Ride</mat-header-cell>
                  <mat-cell *matCellDef="let row" style="padding-left: 43px;"> {{row.complate_ride_count}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="cancelled_ride">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Cancelled Ride</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.cancel_ride_count}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="total_reviews">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Total Reviews</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.total_review_count}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="average_rating">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Average Rating</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.average_rating}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="date_of_birth">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Birth</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.date_of_birth}}</mat-cell>
                </ng-container>device_type
            
                <ng-container matColumnDef="date_of_register">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Register</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.created_date}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="device_type">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Device Type</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.device_type}}</mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="verify">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Verify <br>(0 = unapproved, 1 = approved)</mat-header-cell>
                  <mat-cell *matCellDef="let row"> 
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide" *ngIf="row.verify == 0">Unapproved</span>
                    <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide" *ngIf="row.verify == 1">Approved</span> 
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Status <br>(0 = Inactive, 1 = Active)</mat-header-cell>
                  <mat-cell *matCellDef="let row; let i=index;"> 
                    <button mat-icon-button class="material-icons color_green" matTooltip="Active User" type="button" *ngIf="row.status == 1" (click)="activeInactiveUser(i,row.user_id,0)">
                        <mat-icon style="color: green;">thumb_up</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" matTooltip="Inactive User" type="button" *ngIf="row.status == 0" (click)="activeInactiveUser(i,row.user_id,1)">
                        <mat-icon style="color: red;">thumb_down</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
            
                <!-- actions -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
            
                    <mat-cell *matCellDef="let row; let i=index;">
                        <button (click)="viewUser(row)" mat-icon-button color="primary" matTooltip="View User Details">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>

                        <button mat-icon-button color="accent" (click)="startEdit(i, row)">
                          <mat-icon style="color: #040404;" aria-label="Edit">edit</mat-icon>
                        </button>
                        
                        <ng-container *ngIf="userDetail.type==0">
                          <button mat-icon-button color="warn" matTooltip="Delete User" type="button" (click)="deleteUser(i,row.user_id)">
                              <mat-icon>delete</mat-icon>
                          </button>
                        </ng-container>
                        
                        <button mat-icon-button class="material-icons color_green" matTooltip="Verify User" type="button" *ngIf="row.verify == 1" (click)="verifyUser(i,row.user_id,0)">
                            <mat-icon style="color: green;">thumb_up</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" matTooltip="Verify User" type="button" *ngIf="row.verify == 0" (click)="verifyUser(i,row.user_id,1)">
                            <mat-icon style="color: red;">thumb_down</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            
            
              <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                No records found
              </div>
        </div>

        <div class="mat-table__bottom">
      <ngb-pagination [collectionSize]="dataSource.totalUser" [(page)]="dataService.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="handlePage($event)" style="margin-top:30px;"></ngb-pagination>
  
		</div>
    </kt-portlet-body>
</kt-portlet>         

<!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>
    
    
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let user"> {{user.first_name+' '+user.last_name}} </td>
    </ng-container>

    
    <ng-container matColumnDef="mobile_no">
        <th mat-header-cell *matHeaderCellDef> Mobile No </th>
        <td mat-cell *matCellDef="let user"> {{user.mobile_no}} </td>
    </ng-container>

    
    <ng-container matColumnDef="completed_ride">
        <th mat-header-cell *matHeaderCellDef> Completed Ride </th>
        <td mat-cell *matCellDef="let user"> {{user.complate_ride_count}} </td>
    </ng-container>

    
    <ng-container matColumnDef="cancelled_ride">
        <th mat-header-cell *matHeaderCellDef> Cancelled Ride </th>
        <td mat-cell *matCellDef="let user"> {{user.cancel_ride_count}} </td>
    </ng-container>

    
    <ng-container matColumnDef="total_reviews">
        <th mat-header-cell *matHeaderCellDef> Total Reviews </th>
        <td mat-cell *matCellDef="let user"> {{user.total_review_count}} </td>
    </ng-container>

    
    <ng-container matColumnDef="average_rating">
        <th mat-header-cell *matHeaderCellDef> Average Rating </th>
        <td mat-cell *matCellDef="let user"> {{user.avg_rating_count}} </td>
    </ng-container>

    
    <ng-container matColumnDef="date_of_birth">
        <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>
        <td mat-cell *matCellDef="let user"> {{user.date_of_birth}} </td>
    </ng-container>

   
    <ng-container matColumnDef="date_of_register">
        <th mat-header-cell *matHeaderCellDef> Date Of Register </th>
        <td mat-cell *matCellDef="let user"> {{user.created_date}} </td>
    </ng-container>

    
    <ng-container matColumnDef="device_type">
        <th mat-header-cell *matHeaderCellDef> Device Type </th>
        <td mat-cell *matCellDef="let user"> {{user.device_type}} </td>
    </ng-container>

   
    <ng-container matColumnDef="verify">
        <th mat-header-cell *matHeaderCellDef> Verify <br>(0 = unapproved, 1 = approved) </th>
        <td mat-cell *matCellDef="let user"> 
            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--danger kt-badge--wide" *ngIf="user.verify == 0">Unapproved</span>
            <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide" *ngIf="user.verify == 1">Approved</span> 
        </td>
    </ng-container>

    
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action / Status </th>
        <td mat-cell *matCellDef="let user"> 
            <button (click)="viewUser(user)" mat-icon-button color="primary" matTooltip="View User Details">
                <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button (click)="editUser(user)" mat-icon-button matTooltip="Edit User">
                <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Delete User" type="button" (click)="deleteUser(user.user_id)">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button class="material-icons color_green" matTooltip="Verify User" type="button" *ngIf="user.verify == 1" (click)="verifyUser(user.user_id,0)">
                <mat-icon style="color: green;">thumb_up</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Verify User" type="button" *ngIf="user.verify == 0" (click)="verifyUser(user.user_id,1)">
                <mat-icon style="color: red;">thumb_down</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->